server.port: ${PORT:8182}

spring.application.name: employee-service

eureka:
  instance:
    hostname: ${DOMAIN_NAME:localhost}
    non-secure-port: 80
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8661}/eureka/

feignClient:
  url: https://employee-crud-service.herokuapp.com/api/employees
#  url: http://localhost:8888/api/employees